<img src="images/land_phonum_02.jpg" class="csr-land-backImg">
<!--登录页面-->
<div class="csr-land-center">
    <div class="csr-land-head">
        <div>
            <button onclick="clickLand2()">账密登录</button>
        </div>
        <div>
            <button onclick="clickLand1()"> 手机登录</button>
        </div>
    </div>
    <div class="csr-land-box1">
        <form>
            <div>
                <img src="images/land_03.jpg" height="48" width="49" class="csr-land-img1">
                <input type="text" placeholder="输入账号" required="required" class="csr-land-input1" name="username">
            </div>
            <div>
                <img src="images/land_06.jpg" height="48" width="49">
                <input type="password" placeholder="输入密码" required="required" name="userpass" class="csr-land-input2">
            </div>
            <div>
                <input type="checkbox" id="csr-land-remeber"><label class="csr-land-p" for="csr-land-remeber">Remember
                me</label>
            </div>
            <input type="submit" class="csr-land-submit">
        </form>
    </div>
</div>
<!--登录页面end-->