<!--旋转盒子-->
<div class="csr-homepage-spinPicture">
    <!--超大盒子-->
    <div class="csr-homepage-array">
        <div class="csr-homepage-big csr-homepage-bigFront">
            <img src="images/1.jpg" alt="魔方图片">
        </div>
        <div class="csr-homepage-big csr-homepage-bigBehind">
            <img src="images/2.jpg" alt="魔方图片">
        </div>
        <div class="csr-homepage-big csr-homepage-bigLeft">
            <img src="images/3.jpg" alt="魔方图片">
        </div>
        <div class="csr-homepage-big csr-homepage-bigRight">
            <img src="images/4.jpg" alt="魔方图片">
        </div>
        <div class="csr-homepage-big csr-homepage-bigUp">
            <img src="images/5.jpg" alt="魔方图片">
        </div>
        <div class="csr-homepage-big csr-homepage-bigDown">
            <img src="images/6.jpg" alt="魔方图片">
        </div>
        <div class="csr-homepage-small csr-homepage-smallFront">
            <img src="images/7.jpg" alt="魔方图片"></div>
        <div class="csr-homepage-small csr-homepage-smallBehind">
            <img src="images/7.jpg" alt="魔方图片"></div>
        <div class="csr-homepage-small csr-homepage-smallLeft">
            <img src="images/7.jpg" alt="魔方图片"></div>
        <div class="csr-homepage-small csr-homepage-smallRight">
            <img src="images/7.jpg" alt="魔方图片"></div>
        <div class="csr-homepage-small csr-homepage-smallUp">
            <img src="images/7.jpg" alt="魔方图片"></div>
        <div class="csr-homepage-small csr-homepage-smallDown">
            <img src="images/7.jpg" alt="魔方图片"></div>
    </div>
</div>
<!--旋转盒子end-->
<!--标题-->
<div class="csr-match-text">
    <p>魔方比赛</p>
    <p>welcome to cube world</p>
    <hr>
</div>
<!--标题end-->
<!--赛事-->

<div class=" csr-homepage-float">
    <div>
        <img src="images/match_01.jpg" width="100%" alt="缩略图">
        <p>玩转魔方</p>
        <p>2018-05-24</p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;
            啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!</p>
    </div>
    <div>
        <img src="images/match_01.jpg" width="100%" alt="缩略图">
        <p>玩转魔方</p>
        <p>2018-05-24</p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;
            啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!</p>
    </div>
    <div>
        <img src="images/match_01.jpg" width="100%" alt="缩略图">
        <p>玩转魔方</p>
        <p>2018-05-24</p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;
            啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!</p>
    </div>
    <div>
        <img src="images/match_01.jpg" width="100%" alt="缩略图">
        <p>玩转魔方</p>
        <p>2018-05-24</p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;
            啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!</p>
    </div>
    <div>
        <img src="images/match_01.jpg" width="100%" alt="缩略图">
        <p>玩转魔方</p>
        <p>2018-05-24</p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;
            啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!</p>
    </div>
    <div>
        <img src="images/match_01.jpg" width="100%" alt="缩略图">
        <p>玩转魔方</p>
        <p>2018-05-24</p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;
            啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!</p>
    </div>
    <div>
        <img src="images/match_01.jpg" width="100%" alt="缩略图">
        <p>玩转魔方</p>
        <p>2018-05-24</p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;
            啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!</p>
    </div>
    <div>
        <img src="images/match_01.jpg" width="100%" alt="缩略图">
        <p>玩转魔方</p>
        <p>2018-05-24</p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;
            啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!</p>
    </div>
    <div>
        <img src="images/match_01.jpg" width="100%" alt="缩略图">
        <p>玩转魔方</p>
        <p>2018-05-24</p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;
            啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!啦啦啦啦啦，我最帅呀!!!</p>
    </div>

</div>
<!--赛事end-->
