<!--面包线-->
<div class="csr-register-bread">
    <div class="csr-register1-bread1">
        <button>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </button>
        <p>创建用户</p>
    </div>
    <hr>
    <div class="csr-register1-bread1">
        <button>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </button>
        <p>设置用户信息</p>
    </div>
    <hr>
    <div class="csr-register1-bread1">
        <button>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </button>
        <p>设置</p>
    </div>
    <hr>
    <div class="csr-register1-bread1">
        <button>
            <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
        </button>
        <p>成功</p>
    </div>

</div>
<!--面包线end-->
<!--用户-->
<div class="csr-register-users">
    <div>
        <button>
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
        </button>
        <p>个人注册</p>
    </div>
    <button>
        <span class=" glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
    </button>
</div>
<div class="csr-register-usersContent">
    <form id="csr-register-form1">
        <div class="csr-register-usersCountry">
            <p>国家/地区</p>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    中国
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">美国</a></li>
                    <li><a href="#">欧洲</a></li>
                    <li><a href="#">非洲</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">其他</a></li>
                </ul>
            </div>
        </div>
        <div class="csr-register-usersPhone">
            <p>手&nbsp;&nbsp;机&nbsp;&nbsp;号</p>
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="true">
                    +86
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
                    <li><a href="#">+10</a></li>
                    <li><a href="#">+11</a></li>
                    <li><a href="#">+12</a></li>
                    <li role="separator" class="divider"></li>
                    <li><a href="#">其他</a></li>
                </ul>
            </div>
            <input type="text" class="csr-register-usersText" name="phoneNum" placeholder="设置手机号" required="required"
                   pattern="^[0-9]{11,}$">
        </div>
        <button type="submit" class="btn btn-primary csr-register-usersNext" id="csr-register-next1" onclick="submit1()">下一步</button>
    </form>
</div>

</div>

<!--用户end-->


